.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

canvas {
    margin-top: 20px;
    width: 400px;
    height: 400px;
}

.average-expression {
    font-size: 1.5rem;
    margin-top: 20px;
}

.emoji {
    font-size: 2rem;
}

#expressionChartWrapper {
    display: inline-block;
    position: relative;
    margin-top: 20px;
}

.question-buttons {
    margin-top: 20px;
}

.question-button {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 5px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.question-button:hover {
    background-color: #45a049;
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #e53935;
}